<launch> 
    	<!-- Parameters defining the discretized world width and height -->
    	<param name="x_limit"     value="30" />
    	<param name="y_limit"     value="30" />
	<param name="current"  type="string"  value="sleep" />
	<param name="position_x"  type="int"  value="0" />
	<param name="position_y"  type="int"  value="0" />
	<param name="home_x"  type="int"  value="1" />
	<param name="home_y"  type="int"  value="1" />
	<param name="person_x"  type="int"  value="5" />
	<param name="person_y"  type="int"  value="5" />
	<param name="pointed_x"  type="int"  value="0" />
	<param name="pointed_y"  type="int"  value="0" />
	<node name="state_machine" pkg="assignment1" type="state_machine.py" output="screen"/> 
	<node name="verbal_interaction" pkg="assignment1" type="verbal_interaction.py" output="screen"/> 
	<node name="gesture_interaction" pkg="assignment1" type="gesture_interaction.py" output="screen"/> 
	<node name="robot_controller" pkg="assignment1" type="control.py" output="screen"/> 

</launch> 
